---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Johann ZYCH" description="About Johann ZYCH">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A Propos"
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Après 25 ans dans l'industrie à divers postes (production, encadrement), j'ai décidé de vivre de ma passion.
						Je suis actuellement en reconversion professionnelle et en formation à la Wild Code School.
						Passionné, je suis disponible et à l'écoute !
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<p>Développeur Web Angular Java / Spring à la Wild Code School Bordeaux</p>
					<p>Développeur Web et Mobile PHP / Symfony à la Wild Code School Bordeaux</p>
					<p>BTS Maintenance Industrielle</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Soft Skills</h2>
				<div class="content">
					<p>Amélioration Continue</p>
					<p>Planification opérationnelle</p>
					<p>Management</p>
					<p>Relations Clients</p>
					<p>Esprit d'équipe et entraide</p>
					<p>Méthodes Agile Scrum</p>
				</div>
				<h2 class="section-title">Hard Skills</h2>
				<div class="content">
					<p>HTML CSS</p>
					<p>Javascript Angular</p>
					<p>PHP Symfony</p>
					<p>Java Spring</p>
					<p>Git GitHub</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
